<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление нового пользователя</title>
</head>
<body>

<form th:method="POST" th:action="@{/users}" th:object="${user}">
    <input type="text" th:field="*{name}" id="name"/>
    <label for="name">Имя</label>
    <br/>
    <input type="text" th:field="*{secondName}" id="secondName"/>
    <label for="secondName">Фамилия</label>
    <br/>
    <input type="text" th:field="*{age}" id="age"/>
    <label for="age">Возраст</label>
    <br/>
    <input type="text" th:field="*{eyeColor}" id="eyeColor"/>
    <label for="eyeColor">Цвет глаз</label>
    <br/>
    <input type="submit" value="Создать">
</form>


</body>
</html>